body {
    background-color: rgb(39, 218, 188);
    margin: 2%;
    padding: 2%;
}

#messages {
    font-size: 38px;
}

h1 {
    font-style: italic;
    align-items: center;

}

/* style.css */
.styled-h1 {
    font-size: 38px;
    color: rgb(238, 54, 54);
    font-weight: bold;
    text-decoration: underline double  red ;
    text-align: center;
}